@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Samsung</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-5">
            <img src="https://www.mall.cz/i/45803978/1000/1000" height="200" />
        </dt>
        <dd class = "col-sm-2">
            <img src="https://i.imgur.com/nyDmCCT.png" height="200" />
        </dd>
        <dt class = "col-sm-10">
            Trenutna cena: 749€
        </dt>
        <dt class = "col-sm-2">
            
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
