@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Store
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Samsung Galaxy S20
            </td>
            <td>
                <a href="https://www.mimovrste.com/samsung-galaxy-s20/samsung-galaxy-s20-gsm-telefon-128gb8gb-siv">Mimovrste</a>
            </td>
            <td>
                <a asp-action="DetailsSamsung">Details</a>
            </td>
        </tr>
    </tbody>
</table>
