@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<web.Models.Product>;
@{
    ViewData["Title"] = "Index";
}

<h1>10 Random Products</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Product
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody style="line-height: 75px;">

    @foreach (var product in Model)
    {
        <tr>
            <td style="padding: 5px;">
                <img src="@product.image" style="width: 75px; height: 75px; object-fit: contain;">
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@product.id">@product.name</a>
            </td>
            <td>
                @product.price€
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
