@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<web.Models.Product>;
@{
    ViewData["Title"] = "Index";
}

<h1>10 Random Products</h1>
<table class="table" style="text-align: center;">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Product
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>

    @foreach (var product in Model)
    {
        <tr>
            <td>
                <img src="@product.image" style="height: 75px;">
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@product.id">@product.name</a>
            </td>
            <td>
                @product.price€
            </td>
        </tr>
    }
    </tbody>
</table>
