@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Store
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var product in ViewBag.productsList)
    {
        <tr>
            <td>
                @product.Name
            </td>
            <td>
                <a href="@product.Website">Mimovrste</a>
            </td>
            <td>
                <a asp-action="DetailsSamsung">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>
